# Complementaria 6: Algoritmos de Caminos Mínimos

## Importar librerías

In [ ]:
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Importar datos

In [10]:
# Cargar datos desde un archivo .xlsx usando pandas, 'Plantilla.xlsx' sera nuestro archivo
df_r = pd.read_excel('Plantilla.xlsx', sheet_name='UltraCargo_Rutas_Transporte')
df_c = pd.read_excel('Plantilla.xlsx', sheet_name='UltraCargo_Centros_Logísticos')

In [11]:
# Dimension de los dataframes
print("Dimensión de df_r:", df_r.shape)
print("Dimensión de df_c:", df_c.shape)

Dimensión de df_r: (144, 11)
Dimensión de df_c: (20, 4)

In [12]:
# Validar que los datos de la hoja 'UltraCargo_Rutas_Transporte' se hayan cargado correctamente
df_r.head()

,Origen,Destino,Distancia,Velocidad,Frontera,Alta_Demanda,Capacidad,Horario,Terrestre,Aereo,Vuelos
0,San Diego,Phoenix,500,100,0,1,30,19,1,0,0
1,San Diego,Las Vegas,1860,80,1,1,11,12,0,1,2
2,San Diego,Dallas,2274,100,1,1,35,23,1,0,0
3,San Diego,Austin,909,100,1,0,35,24,1,0,0
4,San Diego,San Antonio,614,80,1,0,47,23,0,1,2

In [13]:
# Validar que los datos de la hoja 'UltraCargo_Centros_Logísticos' se hayan cargado correctamente
df_c.head()

   Codigo       Ciudad      Estado    País
0       1    San Diego  California  EE.UU.
1       2  Los Angeles  California  EE.UU.
2       3      Phoenix     Arizona  EE.UU.
3       4    Las Vegas      Nevada  EE.UU.
4       5       Denver    Colorado  EE.UU.